body {
    background-color: blue;
    font-family: sans-serif;
}

.txt {
    width: 100%;
    text-align: center;
    color: #f5f5f5;
    font-size: 1.9rem;
    padding: 20px 0;
    font-weight: bold;
}

.main_container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 700px;
    height: 450px;
    background: #f5f5f5;
    border-radius: 20px;
    text-align: center;
    box-shadow: 4px 4px 10px black;
}

#container_p {
    font-size: 1.2rem;
    padding: 20px 0;
}

#container_img {
    display: inline-block;
    position: relative;
    width: 350px;
    height: 350px;
    overflow: hidden;
    border-radius: 50%;
}

#container_img img {
    width: auto;
    height: 100%;
    margin-left: -50px;
}

.footer {
    font-size: 1.2rem;
    padding-top: 20px;
    text-align: center;
    color: #f5f5f5;
}