@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.div__resultado {
  padding: 10px 0 10px 0;
  text-align: center;
}
.resultado {
  margin: 10px 0;
  font-size: 1.5rem;
}
.resultado__button {
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
  background-color: rgb(51, 51, 150);
  color: white;
  transition: all 0.5s ease-in-out;
}
.resultado__button:hover {
  background-color: rgb(37, 37, 111);
}