* {
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(13, 106, 134);
    font-family: sans-serif;
    font-size: 1.1rem;
    line-height: 1.5rem;
}
.container {
    max-width: 90%;
    margin: 50px auto;
    background: white;
    border-radius: 15px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.603);
    padding: 20px;
}
table {
    width: 100%;
}
th {
    background-color: gray;
    border: 1px solid black;
    text-align: center;
}
td {
    border: 1px solid black;
}
tr {
    background-color: white;
    transition: all 0.2s ease-in-out;
}
tr:hover {
    background-color: rgb(205, 205, 205);
}