body {
    background: rgb(222, 222, 222);
}
#form {
    width: 65%;
    height: 500px;
    margin: 0 auto;
    background: white;
    border-radius: 20px;
    text-align: center;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.671);
}
.form-title {
    margin: 10px 0;
}
.input-group {
    margin: 10px 0;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-group input {
    width: 200px;
    padding: 4px;
    border-radius: 4px;
}
.input-btn {
    padding: 7px 10px;
    font-size: 1rem;
    border-radius: 3px;
    background: rgb(80, 141, 80);
    color: white;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.input-btn:hover {
    background: rgb(66, 117, 66);
    box-shadow: 2px 2px 3px rgba(80, 141, 80, 0.704);
}
.mensagem-erro {
    text-align: center;
    color: red;
}